* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cab49b;
  }

body, html {
    height: 100%;
}

/********* Navbar *********/
nav a {
    text-decoration: none;
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
}

.navbar-list {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

/******** Hero bg ********/
.hero-image {
    display: flex;
    justify-content: center;
    background-color: #cab49b;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  } 

/******** Hero text ********/
.hero-text {
    font-family: 'Lobster', cursive;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 400%;
    font-weight: 900;
}

.hero-text p {
    font-size: 150%;
}

/********* Down arrow *********/
.arrow-container {
    display: flex;
    justify-content: center;
    align-content: stretch;
}

.down-arrow {
    flex-wrap: wrap-reverse;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}